body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form input[type="text"], .form textarea {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.form textarea {
  height: 20em
}
.element-button {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  width: auto;
  display: inline-block;
  padding: 0 4px;
  margin-right: -2px;
  color: #fff;
}
.results {
  padding-left: 2em;
}
.value-label {
  display: inline-block;
  width: 52px;
  font-size: 14px;
  font-weight: bold;
}
label {
  font-weight: bold;
}

#the-form {
  width: 420px;
  float: left;
}
#form {
  margin: 0 auto;
}
#results-container {
  float: left;
}
h2 {
  font-size: 27px;
}